.is-hidden-frameless:not(.is-fullscreen)
	.workspace-tabs.mod-top-left-space
	.workspace-tab-header-container {
	transition-property: padding-left;
	transition-duration: 0.05s;
	transition-timing-function: ease-in;
}

.is-hidden-frameless:not(.is-fullscreen)
	.workspace-tabs.mod-top-left-space
	.workspace-tab-header-container.traffic-control {
	padding-left: calc(var(--size-4-2));
	transition-property: padding-left;
	transition-duration: 0.05s;
	transition-timing-function: ease-out;
}
